<div class="hero-image" style="background-image: url('{{rift.banner}}')">
	<div class="hero-text">
		<h1 style="font-size:50px">{{rift.title}}</h1>
		<p>{{rift.desc}}</p>
		<button type="button" class="btn btn-info">Subscribe</button>
	</div>
</div>

<div class="posts">
	{{#each rift.posts}}
	<!--<div class="post">
		<p><strong>{{{title}}}</strong></p><br/>
		<p>{{{body}}}</p><hr/>
	</div>
	-->
	<div class="card bg-dark m-3 text-white">
		<h5 class="card-header">{{title}}</h5>
		<div class="card-body">
			<h5 class="card-title">Posted by yoter</h5>
			<p class="card-text">{{body}}</p>
			<a href="#" class="btn btn-primary">View post</a>
		</div>
	</div>	


	{{/each}}
</div>

<!--<img class="banner" src="{{rift.banner}}" /><br />
	<span class="title"><strong>/_/{{rift.title}}</strong></span>-->
